# AAP
AAP_HOSTNAME=https://aap.example.com
AAP_TOKEN=
AAP_VALIDATE_CERTS=false

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SSH_KEY_NAME=aap-token-bench
SSH_KEY_PATH=~/.ssh/aap-token-bench.pem
